*{
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family: Caroline;
    src: url(../font/Caroline.otf);
}
.fondoVideo{
    height: 100%;
    width: auto;
    z-index: 0;
}

header{
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.logo{
    fill:white;
    height: 60px;
    width: 60px;
    /* border: 2px solid yellow; */
    position: absolute;
    margin-right: 1200px;
}

nav{
    /* border: 2px solid red; */
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav a{
    /* border: 2px solid blue; */
    padding-left: 70px;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: Caroline;
    text-decoration: none;
    font-size: 2em;
    color: white;
    font-weight: bolder;
}

nav a:hover{
    color: lightskyblue;
}

section{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#inicio{
    position: relative;
}

.contentitulo header{
    height: 70px;
}

.titulo{
    height: calc(100% - 140px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top:0px;
    font-size: 5em;
    font-family: Caroline;
    font-weight: bolder;
    
}

.cajaTitulo p{
    /* font-family: 'Roboto', sans-serif; */
    font-size: 35px;
}

.contentitulo{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0px;
}

.cajaicons{
    /* border: 1px solid yellow; */
    height: 60px;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    padding-bottom: 20px;
}

.cajaicons i{
    padding: 5px;
}
.colortwitter{
    color: white;
    /* color: rgb(49,162,207); */
    font-size: 40px;
}

.colorface{
    color: white;
    /* color: blue; */
    font-size: 40px;
}

.colorwhats{
    color: white;
    /* color: chartreuse; */
    font-size: 40px;
}

.colorinsta{
    color: white;
    font-size: 40px;
    /* color: fuchsia; */
}

.boton{
    margin: 1em;
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid white;
    color: black;
    font-size: 25px;
}

/******* SECTION 1 ********/

#conciertos{
    background-color: rgb(65, 58, 58);
}

.cabecera{
    color: white;
    font-family: Caroline;
    font-size: 90px;
    padding: 10px;
}

.contenedor{
    /* border: 2px dashed black; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cajas{
    border: 3px dashed rgb(255, 255, 255);
    height: 250px;
    width: 30%;
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;   
}

.cajas img{
    width: 100%;
    height: 100%;
}

.textocaja{
    position: absolute;
    /* height: 20%; */
    background-color: rgba(136, 136, 136, 0.685);
    color: white;
    width: 100%;
    font-family: Caroline;
    font-size: 2em;
    text-align: center;
    transition: ease-in 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajas:hover .textocaja{
    bottom: 0px;
    height: 40px;
}


.compra{
    background-color: black;
    position: absolute;
    top: 10px;
    left: 0px;
    margin: 8px;
    padding: 5px;
    border-radius: 30px;
    border: 2px solid white;
}

.compra1{
    /* background-color: black; */
    position: absolute;
    top: 10px;
    left: 0px;
    margin: 8px;
    padding: 5px;
    border-radius: 30px;
    /* border: 2px solid white; */
}

.compra i{
    color: white;
    font-size: 20px;
}

.fecha{
    font-family: Caroline;
    position: absolute;
    top: 10px;
    right: 8px;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 2em;
    border: 2px solid rgb(128, 0, 0);
    color: rgb(0, 0, 0);
}